.md-typeset table {
    table-layout: auto !important;
    width: 100% !important;
    max-width: 100% !important;
    overflow-x: auto;
    white-space: nowrap;
}
.md-typeset th, .md-typeset td {
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    padding: 6px;
}
